.mondrian {
    display: flex;
    flex-direction: row;
    border: 10px solid black;
    width: 1000px;
    height: 600px;
    margin: 40px 40px 40px 40px;
}

.column-a {
    flex: 2;
    background-color: white;
    border-right: 5px solid black;
}

.row-1 {
    display: flex;
    flex-direction: row;
    height: 57.5px;
    border-bottom: 5px solid black;
}

#A1a {
    width: 35%;
    border-right: 5px solid black;
}

.row-2 {
    display: flex;
    flex-direction: row;
    height: 120px;
}

#A2a {
    width: 25%;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

#A2b {
    width: 75%;
    background-color: #FF0000;
}
.row-3 {
    display: flex;
    flex-direction: row;
    height: 120px;
}

#A3a {
    width: 25%;
    border-right: 5px solid black;
}

#A3b, #A3c {
    width: 105px;
    background-color: #FF0000;
    border-bottom: 5px solid black;
}

.row-4 {
    display: flex;
    flex-direction: row;
    height: 115px;
    border-bottom: 5px solid black;
}

#A4a {
    width: 25%;
    border-right: 4px solid black;
}

#A4a1, #A4a2 {
    display: flex;
    flex-direction: column;
    height: 50%;
}

#A4a2 {
    background-color: #F9E900
}

#A4a1 {
    border-bottom: 5px solid black;
}

#A4b {
    width: 100px;
    border-right: 5px solid black;
    background-color: black;
    color: white;
}

#A4c * {
    display: flex;
    width: 105px;
    flex-direction: column;
    height: 50%;
}

#A4C1 {
    border-bottom: 5px solid black;
}

.row-5 {
    display: flex;
    flex-direction: row;
    height: 115px;
}

#A5a {
    width: 69px;
    border-right: 4px solid black;
    background-color: #F9E900;
    border-bottom: 5px solid black;
}

#A5c * {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 105px;
}

#A5c1 {
    border-bottom: 5px solid black;
    background-color: black;
    color: white;
}

#A5b {
    width: 98px;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

#A5c2 {
    display: flex;
    flex-direction: row;
    width: 98px;
    height: 100%;
}

#A5c2a {
    border-right: 5px solid black;
    border-bottom: 5px solid white;
    background-color: #F9E900;
}

#A5c2b {
    border-bottom: 5px solid white;
}

.row-6 {
    display: flex;
    flex-direction: row;
    height: 57.5px;
}

#A6a {
    width: 171px;
    border-right: 5px solid black;
    height: 62px;
}

#A6b {
    width: 47px;
    border-right: 5px solid black;
    background-color: #F9E900;
    height: 62px;
}

#A6c {
    width: 47px;s
}

.column-b {
    flex: 1.5;
    border-right: 5px solid black;
}

#B1, #B2, #B4, #B5 {
    border-bottom: 5px solid black;
}

#B2 {
    height: 115px;
}

#B5 {
    height: 115px;
}

#B1, #B4 {
    display: flex;
    height: 57.5px;
}

#B1 {
    background-color: #F9E900;
}

#B2 {
    background-color: #F9E900;
}

#B3 {
    display: flex;
    flex-direction: row;
    height: 120px;
}

#B3a, #B3b {
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid black;
    width: 50%;
}

#B3a {
    border-right: 5px solid black;
}

#B5 {
    background-color: #007DC1; 
}

#B6 {
    background-color: #FF0000; 
    height: 115px;
}

.column-c {
    flex: 1.5;
    border-right: 5px solid black;
    display: flex;
    flex-direction: column-reverse;
}

#C2, #C4, #C5, #C6 {
    border-bottom: 5px solid black;
}

#C2, #C5, #C6 {
    display: flex;
    height: 115px;
}

#C2 {
    background-color: #F9E900;
}

#C1, #C4 {
    display: flex;
    height: 57.5px;
}

#C3 {
    display: flex;
    flex-direction: row;
    height: 120px;
}

#C1a, #C1b {
    display: flex;
    flex-direction: row;
    width: 50%;
}

#C1a {
    border-right: 5px solid black;
}

#C3a, #C3b {
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid black;
    width: 50%;
}

#C3a {
    border-right: 5px solid black;
}

#C5 {
    background-color: #FF0000;
}

#C6 {
    background-color: #007DC1; 
}

.column-d {
    flex: 2;
    background-color: white;
    border-right: 5px solid black;
}

.row-1 {
    display: flex;
    flex-direction: row;
    height: 57.5px;
    border-bottom: 5px solid black;
}

#D1a {
    width: 35%;
    border-right: 5px solid black;
}

.row-2 {
    display: flex;
    flex-direction: row;
    height: 120px;
}

#D2a {
    width: 25%;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

#D2b {
    width: 75%;
    background-color: #FF0000;
}
.row-3 {
    display: flex;
    flex-direction: row;
    height: 120px;
}

#D3a {
    width: 25%;
    border-right: 5px solid black;
}

#D3b, #D3c {
    width: 105px;
    background-color: #FF0000;
    border-bottom: 5px solid black;
}

.row-4 {
    display: flex;
    flex-direction: row;
    height: 115px;
    border-bottom: 5px solid black;
}

#D4a {
    width: 25%;
    border-right: 4px solid black;
}

#D4a1, #D4a2 {
    display: flex;
    flex-direction: column;
    height: 50%;
}

#D4a2 {
    background-color: #F9E900
}

#D4a1 {
    border-bottom: 5px solid black;
}

#D4b {
    width: 100px;
    border-right: 5px solid black;
    background-color: black;
    color: white;
}

#D4c * {
    display: flex;
    width: 105px;
    flex-direction: column;
    height: 50%;
}

#D4C1 {
    border-bottom: 5px solid black;
}

.row-5 {
    display: flex;
    flex-direction: row;
    height: 115px;
}

#D5a {
    width: 69px;
    border-right: 4px solid black;
    background-color: #F9E900;
    border-bottom: 5px solid black;
}

#D5c * {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 105px;
}

#D5c1 {
    border-bottom: 5px solid black;
    background-color: black;
    color: white;
}

#D5b {
    width: 98px;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

#D5c2 {
    display: flex;
    flex-direction: row;
    width: 98px;
    height: 100%;
}

#D5c2a {
    border-right: 5px solid black;
    border-bottom: 5px solid white;
    background-color: #F9E900;
}

#D5c2b {
    border-bottom: 5px solid white;
}

.row-6 {
    display: flex;
    flex-direction: row;
    height: 57.5px;
}

#D6a {
    width: 171px;
    border-right: 5px solid black;
    height: 62px;
}

#D6b {
    width: 47px;
    border-right: 5px solid black;
    background-color: #F9E900;
    height: 62px;
}

#D6c {
    width: 47px;
}